* {
  padding: 0;
  margin: 0;
}

.container {
  width: 85%;
  margin: auto;
  padding: 20px;
}
.navbar {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.logo {
  font-size: 2rem;
  /* background-color: #b7bbc7; */
  width: 20%;
}

.menus {
  /* background-color: yellowgreen; */
  display: flex;
  justify-content: space-between;
  margin: 10px;
  width: 60%;
  padding-left: 10px;
}

.side-menu {
  display: flex;
  justify-content: space-between;
  /* background-color: blueviolet; */
  align-items: center;
  width: 20%;
}
.side-menu li {
  padding: 10px;
}

.main {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
}
.side-image {
  /* background-color: blueviolet; */
  width: 40%;
  margin: auto;
}

.product-image {
  border-radius: 15px;
  width: 100%;
}

.side-about {
  /* background-color: thistle; */
  width: 45%;
  margin: auto;
}

.side-about__name {
  color: rgb(185, 84, 16);
}

.side-about__product-name {
  padding-bottom: 30px;
}
.previous-price {
  color: grey;
  padding-bottom: 10px;
}
.btn {
  display: flex;
  align-items: center;
}
.btn__one {
  display: flex;
  padding-right: 20px;
  align-items: center;
}

.btn__plus-minus {
  padding: 14px;
  color: rgb(185, 84, 16);
  border: none;
}

.btn__number {
  font-size: 1.2rem;
  padding: 20px;
}

.btn__cart {
  font-size: 1.2rem;
  padding: 14px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: rgb(185, 84, 16);
}

.image-down {
  display: flex;
  justify-content: flex-start;
}

.image-down img {
  width: 18%;
  border-radius: 10px;
  margin: 10px;
}

@media screen and (max-width: 970px) {
  .menus {
    width: 70%;
  }

  .image-down img {
    width: 18%;
    border-radius: 10px;
    margin: 6px;
  }
}

@media screen and (max-width: 768px) {
  .menus {
    width: 80%;
  }

  .btn__cart {
    font-size: 1rem;
  }
}

@media screen and (max-width: 650px) {
  .menus {
    width: 90%;
    flex-wrap: wrap;
  }

  .btn__plus-minus {
    padding: 10px;
  }

  .btn__number {
    padding: 10px;
  }
  .btn__cart {
    font-size: 0.95rem;
    padding: 10px;
  }
}

@media screen and (max-width: 500px) {
  .navbar {
    margin: 30px;
  }
  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  .change .bar2 {
    opacity: 0;
  }
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  .menus {
    display: none;
  }

  .menus li {
    padding: 6px;
  }

  .container {
    width: 100%;
    padding: 0px;
  }
  .product-image {
    border-radius: 0px;
    width: 100%;
  }

  .main {
    flex-direction: column;
    padding-top: 40px;
  }
  .btn {
    display: grid;
    margin: auto;
  }
  .price {
    display: flex;
    justify-content: space-between;
  }
  .btn__one {
    justify-content: space-between;
    padding: 0px;
    padding-bottom: 10px;
  }
  .btn__cart {
    width: 90%;
    margin: auto;
  }
  .btn__plus-minus {
    padding: 20px;
  }
  .side-image {
    width: 100%;
  }
  .image-down {
    display: none;
  }
  .side-about {
    width: 80%;
    margin-top: 12px;
  }
}
